.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  border-radius: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-image: url(./img/circle.png);
  background-color: #010101;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Text {
  background-image: url(./img/circle.png);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font: small-caps bold 26px/1 sans-serif;
  font-size: 2.0em
}


.social-container {
  background-color: #010101;
  padding: 25px 50px;
  position: sticky;
    top: 1160px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.github {
  color: rgb(255, 255, 255);
}

a.telegram {
  color: rgb(255, 255, 255);
}

a.twitter {
  color: rgb(255, 255, 255);
}

a.discord {
  color: rgb(255, 255, 255);
}

