.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Text {
  color: #000;
  font-weight: bold;
  font: small-caps bold 24px/1 sans-serif;
  font-size: 2.0em
}


.linkS {
    position: relative;
      float: centre;
      width: 60px;
      height: 60px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;

}

